*{
    margin:0;
    padding:0;
   box-sizing:border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    color:white;
    background-color:black;
}
.parent{
    font-size:30px;
}
.chlid{
    font-size:2em;
    /* because here the em depends upon the font-size of the parent i.e me =a px of the parent  */
}